<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign In</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include('../partials/navbar') %>
  <main class="form-container">
    <h1>Sign In</h1>
    <form action="/auth/sign-in" method="POST">
      <p class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
      </p>
      <p class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
      </p>
      <button type="submit" class="btn">Sign In</button>
    </form>
  </main>
</body>

</html>